.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flex{
  display:flex;
  flex-wrap: wrap;
}
.shopping-card{
  justify-content: space-between;
  background-color: rgb(49, 154, 190);
  padding: 10px 30px;
}
.product-item{
  padding: 20px;
}
.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
#category-list {
  padding: 5px;
}
.main{
  margin-top: 5%;
}
input{
  height:30px;
  width: 20%;
}